<div class="row" style="border-width:0px;">
    <div class="col-12">

        <table id="myTable" class="display nowrap" width="100%">
            <thead>
                <tr>
                    <th style="display:none">id</th>
                    <th>Project</th>
                    <th>Event hierarchy</th>
                    <th>Event</th>
                    <th>Sequence name</th>
                    <th>Gene</th>
                    <th>URL</th>                    
                </tr>
            </thead>
            <tbody>
                {% for i in qs %}
                <tr>
                    <td style="display:none">{{i.id}}</td>
                    <td>{{i.event.event_hierarchy.project_metadata.project_name}}</td>
                    <td>{{i.event.event_hierarchy.event_hierarchy_name}}</td>
                    <td>{{i.event.sample_name}}</td>
                    <td>{{i.sequence_name}}</td>
                    <td>{{i.target_gene}}</td>
                    <td>{{i.seqData_url}}</td>                    
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="col-3">
        <button class="btn btn-elegant btn-lg" style="width:100%">Download CSV <i class="fas fa-file-csv pl-1"></i></button>        
    </div>
    <div class="col-3">
        <button class="btn btn-elegant btn-lg" onclick="getallJSON()" style="width:100%">Download JSON <i class="fas fa-file-code pl-1"></i></button>
    </div>

</div>




<script>
    $(document).ready(function () {
        var Mytable = $('#myTable').DataTable();
        Mytable.column(0).visible(false)
    });


    function getallJSON() {
        var items = []

        ///// IF YOU CHANGE THE LOCATION OF THE HIDDEN ID COLUMN, DON'T FORGET TO CHANGE THE COLUMN NUMBER
        var COLUMN = 0
        var myTable = $("#myTable").DataTable()
        var searData = myTable.rows({search:'applied'}).column(COLUMN,{search:'applied'}).data()

       for(var i=0; i< searData.length; i++){
            items.push(searData[i])
        }
        
        searchURL = '/pola3r/sequences/?id='.concat(items)
        window.open(searchURL)

    }

</script>