{% extends "home/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <style>
        body {
            padding-top: 0;
        }

        .view, body, html {
            height: 80%
        }

        .navbar {
            background-color: rgba(0, 0, 0, .2)
        }

    .biodiversity-theme, .top-nav-collapse {
        {% if page.colour_theme %}
            background-color: {{ page.colour_theme }} !important;
        {% else %}
            background-color: #0099CC;
        {% endif %}
    }
    </style>
{% endblock %}

{% block scrolling_navbar %}scrolling-navbar{% endblock %}

{% block banner %}
    {% image page.cover max-1200x600 as cover_img %}
    <div class="view"
         style="background-image: url('{{ cover_img.url }}'); background-repeat: no-repeat; background-size: cover;
                 height: 60%; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light d-flex flex-column justify-content-center align-items-center">
            <!-- Content -->
            <div class="text-center white-text flex-column mt-auto">
                <div class="my-4 d-none d-md-block">
                    <h1>{{ page.title }}</h1>
                    <strong>{{ page.short_description|richtext }}</strong>
                </div>
            </div><!-- text-center -->
            <div class="white-text align-items-end flex-column mt-auto ml-auto">
                {{ page.cover.get_image_credit|richtext }}
            </div>
        </div><!-- Content -->

    </div><!-- Mask & flexbox options-->
{% endblock %}

{% block content %}
    <!-- Body -->
    <div class="container mt-4">
        {{ page.body }}
        <!-- Tags -->
        {% if page.tags.exists %}
            <div class="pt-5">
                <p class="h6">Tags:</p>
                <ul class="list-unstyled list-inline justify-content-between">
                {% for tag in page.tags.all %}
                    <li class="list-inline-item mr-1">
                        <div class="chip mr-0">
                            <a href="{% slugurl 'tags' %}?tag={{ tag }}" style="color: rgba(0,0,0,0.6);">{{ tag }}</a>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        <!-- Publish date -->
        <div class="text-right text-muted"><small><i class="far fa-clock pr-2"></i>{{ page.displayed_publish_date }}</small></div>
    </div>

    {% block extra_js %}
    {% endblock extra_js %}

{% endblock content %}
