{% extends "base.html" %}
{% load static leaflet_tags %}


{% block body_class %}homepage{% endblock %}

{% block extra_css %}
{% leaflet_css %}
{% endblock extra_css %}

{% block content %}

<div class="container">
    <div class="row" style="padding-top:20px">
        <div class="col-xs-12">
            <h2>POLAAAR (this should be a logo)</h2>
        </div>
        <div class="col-xs-12 col-md-8 col-lg-6">
            {% leaflet_map "landing_map" %}
        </div>
    </div>
    
</div>


{% block extra_js %}





{% endblock extra_js %}



{% endblock content %}
