{% for section_placement in page.section_placements.all %}
<div class="container">
    <!--Section-->
    <section class="text-center">
        <!-- Heading -->
        <h2 class="font-weight-bold">{{ section_placement.section.title }}</h2>
        <!--Grid row-->
        <div class="row d-flex justify-content-center mb-4">
            <!--Grid column-->
            <div class="col-md-8">
                <!-- Description -->
                <p class="grey-text">{{ section_placement.section.description }}</p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
        <div class="row">
            {% for card in section_placement.section.card.all %}
            <!--Grid column-->
            <div class="col-md-4 mt-5">
                {{ card.html }}
                <h4 class="my-4 font-weight-bold">{{ card.title }}</h4>
                <p class="grey-text">{{ card.description }}</p>
            </div>
            <!--./Grid column-->
            {% endfor %}
        </div>
    <hr class="my-5">
    </section>
</div>

{% endfor %}