# pycharm
.idea

#  visual studio files
.vs
*.sqlite

# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/

# local sql script
*.sql

# virtual env directory
venv

# local settings
biodiversity/settings/local.py
biodiversity/settings/secrets.py

# logs
log/

# media directories
media

# Mac
.DS_Store
