# pycharm
.idea

#  visual studio files
.vs

# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/

# local sql script
*.sql

# virtual env directory
venv

# local settings
biodiversity/settings/dev.py


# media directories
media

# Mac
.DS_Store
