{% extends "polaaar/base.html" %}
{% load static leaflet_tags %}

{% block title %}
POLA3R search
{% endblock title %}


{% block body_class %}{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center" style="padding-top:20px;padding-bottom:160px; border-width:0px;">

        <div class="col-12" style="text-align:center">
            <h1>Do you have sequence metadata to submit to POLA<sub>3</sub>R?</h1>
        </div>

        <div class="col-12 text-center" style="text-align:center">
            <a href="#"><img style="background-color:white;border:solid black 2px;border-radius:100px" src="{% static 'imgs/dna_clipart.png' %}" /></a>
            <br/>
            <a role="button" href="{% static 'polaaar/files/Template_SeqDataPolaaar_v1.xlsx' %}" class="btn btn-biodiversity-lightblue btn-lg" style="width:30%;display:inline-block;">
                Download the data template (xlsx)
            </a>

        </div>
        <div class="col-12 col-md-8" style="text-align:left">
            <hr>
            <h4>1) Populate the data template above with your data according to the instructions in the spreadsheet.</h4>
            <h4>2) Login/Create an account for POLA<sub>3</sub>R. (top right of the header)</h4>
            <h4>3) Upload your data sheet with the button below.</h4>
            <h4>4) Your data will be reviewed before it is published.</h4>
            <hr>
        </div>
        <div class="col-12 text-center">
            <a role="button" href="{% url 'polaaar:email_submission' %}" class="btn btn-biodiversity-teal btn-lg" style="width:30%;display:inline-block;">Submit data</a>
        </div>

               
    </div>

</div>






{% endblock content %}
