<div class="row">
	<div class="col-12">
		<table id="myTable" class="display nowrap" style="width:100%">
			<thead>
				<tr>
					<th>Project name</th>
					<th style="display:none">id</th>
					<th>Event name</th>
					<th>Location (Lat/Lon)</th>
					<th>Collection date</th>
					<th>Metadata</th>
					<th>Sequences</th>
				</tr>
			</thead>
			<tbody>
				{% for i in qs_results %}
				<tr>

					<td><a href="{% url 'polaaar:project_metadata_detail' i.event_hierarchy.project_metadata.id %}">{{i.project_metadata.project_name}}</a></td>
					<td style="display:none">{{i.id}}</td>
					<td>{{i.sample_name}}</td>
					<td>{{i.Longitude}}/{{i.Latitude}}</td>
					<td>{{i.collection_year|default_if_none:"NA"}}-{{i.collection_month|default_if_none:"NA"}}-{{i.collection_day|default_if_none:"NA"}}</td>

					<td style="text-align:center;font-size:16pt">
						{% if i.metadata_exists == True %}
						<i style="color:green;" class="fas fa-check-circle pl-1"></i>
						{% else %}
						<i style="color:red" class="fas fa-times-circle pl-1"></i>
						{% endif %}
					</td>

					<td style="text-align:center;font-size:16pt">
						{% if i.sequences_exists == True %}
						<i style="color:green;" class="fas fa-check-circle pl-1"></i>
						{% else %}
						<i style="color:red" class="fas fa-times-circle pl-1"></i>
						{% endif %}
					</td>

				</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>


	<div class="col-6 col-lg-3">
		<button class="btn btn-biodiversity-teal btn-lg" style="width:100%" onclick="getPOLA3Rdata(1,'{% url 'polaaar:export_events' %}','EXCEL')">
			<span class="d-none d-sm-none d-md-block">Download EXCEL</span>
			<span class="d-none d-sm-block d-md-none">Excel</span>
			<i class="fas fa-file-excel pl-1"></i>
		</button>
	</div>
	<div class="col-6 col-lg-3">
		<button class="btn btn-biodiversity-teal btn-lg" onclick="getPOLA3Rdata(1,'{% url 'polaaar:events-list' %}','JSON')" style="width:100%">
			<span class="d-none d-sm-none d-md-block">Download JSON</span>
			<span class="d-none d-sm-block d-md-none">JSON</span>
			<i class="fas fa-file-code pl-1"></i>
		</button>
	</div>
</div>


<script>

	$(document).ready(function () {
		var table = $('#myTable').DataTable({
			responsive: true,
    columnDefs: [
                {
                    render: function (data, type, full, meta) {
                        return "<div class='text-wrap width-200'>" + data + "</div>";
                    },
                    targets: 0
                }
             ]
		});

		table.column(1).visible(false);
		

	});

</script>