{% load static %}
<nav class="navbar fixed-bottom navbar-expand-lg">
    <ul class="nav mx-auto">
        <li class="nav-item"><a href="https://www.biodiversity.be/"><img src="{% static 'logos/logo_BBPF_white.png'%}" class="partners-logo"></a></li>
        <li class="nav-item"><a href="http://lifewatch.be/"><img src="{% static 'logos/logo_lifewatch_transp.png'%}" class="partners-logo"></a></li>
        <li class="nav-item"><a href="https://www.scar.org/"><img src="{% static 'logos/SCAR%20logo_white_transp.svg'%}" class="partners-logo"></a></li>
        <li class="nav-item"><a href="http://marinespecies.org/"><img src="{% static 'logos/logo-WORMS-white-background-transp.png'%}" class="partners-logo"></a></li>
        <li class="nav-item"><a href="https://obis.org/"><img src="{% static 'logos/obis_logo_white.svg'%}" class="partners-logo"></a></li>
        <li class="nav-item"><a href="https://www.gbif.org/"><img src="{% static 'logos/GBIF-2015-mark-white.svg'%}" class="partners-logo"></a></li>
        <li class="nav-item"><a href="https://odnature.naturalsciences.be"><img src="{% static 'logos/rbins.png'%}" class="partners-logo"></a></li>
    </ul><!-- end footer-logos container -->
</nav>
