{% load static %}
<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <span>
            <a class="navbar-brand" href="/">
                <img src="{% static 'logos/logo-biodiversityaq-white.png' %}" class="brand">
            </a>
        </span>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-list" aria-expanded="false" aria-controls="#navbar-collapse-button" id="navbar-collapse-button">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="menu-list">
        <ul id="user-account" class="nav navbar-nav navbar-right">

            <li><a href="/login/">Log In</a></li>
            <li><a href="/register/">Register</a></li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-th"></span></a>
                <ul class="dropdown-menu">
                    <!--PLEASE SPECIFY WHICH SHOULD BE ACTIVE-->
                    <li><a href="http://www.biodiversity.aq/">WWW</a></li>
                    <li><a href="http://ipt.biodiversity.aq/">IPT</a></li>
                    <li><a href="http://data.biodiversity.aq">DATA</a></li>
                    <li class="active"><a href="/">POLAAAR</a></li>
                    <li><a href="http://ras.biodiversity.aq/">RAS</a></li>
                    <li><a href="http://afg.biodiversity.aq/">AFG</a></li>
                    <li><a href="http://atlas.biodiversity.aq/">ATLAS</a></li>
                    <li><a href="http://mars.biodiversity.aq/">MARS</a></li>
                    <li><a href="http://blogs.biodiversity.aq/">BLOGS</a></li>
                    <li><a href="http://keys.biodiversity.aq/">KEYS</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>