{% load static %}

<nav class="navbar fixed-top navbar-expand-lg">

    <div class="navbar-header">
        <span>
            <a class="navbar-brand" href="/">
                <img src="{% static 'logos/logo-biodiversityaq-white.png' %}" class="brand">
            </a>
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="menu-list">
        <ul id="user-account" class="navbar-nav ml-auto">


            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Welcome {{user.username}}
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!--<a class="dropdown-item" href='#'> Profile</a>-->
                    {% if user.is_administrator %}
                    <a class="dropdown-item" href="/admin">Wagtail Admin</a>
                    <a class="dropdown-item" href="/django-admin">Django Admin</a>
                    {% endif %}
                    <a class="dropdown-item"
                       href="{% url 'accounts:password_change' %}"> Change password</a>
                    <a class="dropdown-item"
                       href="{% url 'logout' %}"> Log out</a>


                </div>
            </li>


            {% spaceless %}

            {% endspaceless %}

            {% else %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}"><span class="spot"></span> Log in</a>                
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:register' %}"><span class="spot"></span> Register</a>                
            </li>

            {% endif %}

        </ul>

    </div>

</nav>
