{% extends "base.html" %}
{% load static leaflet_tags geojson_tags polaaar_tags %}

{% block title %}
POLA3R search
{% endblock title %}


{% block body_class %}{% endblock %}

{% block extra_css %}
{% leaflet_css %}
{% endblock extra_css %}

{% block content %}
<div class="container-fluid" style="background-image: url({% static 'imgs/BB_backgrnd.png' %});background-size: cover;background-repeat: no-repeat">
    <div class="row" style="padding-top:20px;padding-bottom:60px; border-width:0px;">
        <div class="col-12">
            <h1 style="background-color:white">How would you like to search?</h1>
            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="width:100%">
                <label class="btn btn-elegant form-check-label" onclick="projfunc()">
                    <input class="form-check-input" type="radio" name="options" value="sequence" autocomplete="off"> Project
                </label>
                <label class="btn btn-elegant form-check-label" onclick="envfunc()">
                    <input class="form-check-input" type="radio" name="options" value="environment" autocomplete="off">Environmental
                </label>
                <!--<label class="btn btn-elegant form-check-label" onclick="mimfunc()">
                    <input class="form-check-input" type="radio" name="options" value="mimarks" autocomplete="off"> MiMARKS
                </label>-->
                <label class="btn btn-elegant form-check-label" onclick="seqfunc()">
                    <input class="form-check-input" type="radio" name="options" value="sequence" autocomplete="off"> Sequence set
                </label>
                <label class="btn btn-elegant form-check-label" onclick="spafunc()">
                    <input class="form-check-input" type="radio" name="options" value="spatial" autocomplete="off"> Spatial search
                </label>
            </div>

        </div>
    </div>


</div>

<div class="container">
    <div id="searchcontent">


        <div class="row" style="border-width:0px;">
            <div class="col-3">
                <button type="button" class="btn btn-indigo" data-toggle="modal" data-target="#exampleModal">
                    Instructions
                </button>
            </div>
            <div class="col-12">



                <table id="myTable" class="display">
                    <thead>
                        <tr>
                            <th style="display:none">coordinates</th>
                            <th>Project creator</th>
                            <th>Project name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Occurrences</th>
                            <th>Sequences</th>
                            <th>Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in qs %}
                        <tr>
                            <td style="display:none">
                                {% for xx in i.event_hierarchy.all %}
                                {% for xy in xx.event.all %}
                                [{{xy.Longitude}},{{xy.Latitude}}]
                                {% endfor %}
                                {% endfor %}
                            </td>
                            <td>{{i.project_creator.full_name}}</td>
                            <td>{{i.project_name}}</td>
                            <td>{{i.start_date}}</td>
                            <td>{{i.end_date}}</td>
                            <td style="text-align:center;font-size:16pt">
                                {% if i|getTrueOccurrence == "True" %}
                                <i style="color:green;" class="fas fa-check-circle pl-1"></i>
                                {% else %}
                                <i style="color:red" class="fas fa-times-circle pl-1"></i>
                                {% endif %}
                            </td>
                            <td style="text-align:center;font-size:16pt">
                                {% if i|getTrueSequences == "True" %}
                                <i style="color:green;" class="fas fa-check-circle pl-1"></i>
                                {% else %}
                                <i style="color:red" class="fas fa-times-circle pl-1"></i>
                                {% endif %}
                            </td>
                            <td style="font-size:25pt;color:black">
                                <a href="#"><i class="fas fa-file-csv pl-1"></i></a>
                                <a href="/pola3r/project_metadata/{{i.pk}}"><i class="fas fa-file-code pl-1"></i></a>
                            </td>
                        </tr>



                        {% endfor %}
                    </tbody>
                </table>




            </div>
            <div class="col-3">
                <button class="btn btn-elegant btn-lg" style="width:100%" onclick="map_refresh(landing_map)">Refresh map</button>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-md-6">

                {% leaflet_map "landing_map" callback="window.map_init"  %}


            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding-left:20px;padding-right:20px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Instructions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>
                    The POLA<sub>3</sub>R database can be searched by clicking on any of the tabs, which will bring you to data tables and search query tools.
                </h4>
                <ul style="font-size:14pt">
                    <li>To search for data, type any keyword in the search bar above the table. The tables can also be sorted by the visible columns</li>
                    <li>Data can be downloaded in CSV (<i class="fas fa-file-csv pl-1"></i>) or JSON (<i class="fas fa-file-code pl-1"></i>) formats.</li>
                    <li>
                        The <a href="/polaaar/spatialsearch">spatial searching</a> feature is available as well and allows users to draw polygons on the map to find projects
                        and associated metadata.
                    </li>
                    <li>NOT all data are visible on the data table to help simplify searching. To view all available columns download the spreadsheets or view the JSON data</li>
                </ul>
                <h4>
                    You can also search using our API which will allow access to all data in JSON format.<br />
                    <a href="/api_reference">Click here</a> to check out the API reference
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-elegant" data-dismiss="modal">Got it</button>                
            </div>
        </div>
    </div>
</div>



{% block extra_js %}


<script>

    function envfunc() {
    $("#searchcontent").load('../envsearch')
    };
    function mimfunc() {
    $("#searchcontent").load('../mimsearch')
    };
    function seqfunc() {
    $("#searchcontent").load('../seqsearch')
    };
    function spafunc() {
    window.location = "/pola3r/spatialsearch"
    };
    function projfunc() {
    window.location = "/pola3r/search"
    };






</script>




<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

</script>



<style>

    .leaflet-container { /* all maps */
        width: 100%;
        height: 400px;
        -webkit-box-shadow: 10px 10px 42px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 42px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 42px 0px rgba(0,0,0,0.75);
    }

    #specialbigmap {
        height: 800px;
    }

    /* Resize the "display_raw" textbox */
    .django-leaflet-raw-textarea {
        width: 100%;
    }
</style>

<script type="text/javascript">
    // Javascript will load the data initially from the database and then use the hidden coordinates column to re-populate a new set of markers


    var collection = {{ qs_results|geojsonfeature|safe }};
    
    var newMarkers = L.featureGroup();
    
    var geojsonMarkerOptions = {
            radius: 3,
            fillColor: "#ff7800",
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        };
    
    newMarkers.setStyle(geojsonMarkerOptions)

    var ggJSON = L.geoJson(collection,{
            pointToLayer: function(feature,latlng){
                return L.circleMarker(latlng,geojsonMarkerOptions);
            }
        })

    function map_init(map, options) {
         ggJSON.addTo(map);
         L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
                    attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012'
                }).addTo(map);
      }




    function map_refresh(map,options){
        leafletmaplanding_map.removeLayer(ggJSON)
        newMarkers.clearLayers()

        leafletmaplanding_map.addLayer(newMarkers)
        
        var items = []
    
        ///// IF YOU CHANGE THE LOCATION OF THE HIDDEN COORDINATES COLUMN, DON'T FORGET TO CHANGE THE NTH CHILD LOCATION

        //Iterate all td's in second column
        $('#myTable tbody tr td:nth-child(1)').each( function(){
           //add item to array
           items.push( $(this).text() );
        });



        var markers = []
        for(var i=0; i<items.length; i++){        
            var test = items[i].replace(/\s/g, '')
            itest = test.split('][').join('] , [').split(' , ')
            
            for(var j=0; j<itest.length;j++){
                var jtest = itest[j].replace('[','').replace(']','').split(',')
                
                jlist = []
                for(var k=0; k<jtest.length;k++){
                    var parsed = parseFloat(jtest[k])
                    if(isNaN(parsed)){
                        //
                    } else {
                        jlist.push(parsed)                    
                    }                    
                }
                markers.push(jlist)
            }

        }

               

        for(var i=0; i< markers.length; i++){
            if(markers[i].length>0){
                marker = new L.circleMarker([markers[i][0],markers[i][1]],geojsonMarkerOptions).addTo(newMarkers)
            }
        }

        

     }

</script>

{% endblock extra_js %}



{% endblock content %}
