/*HEADER*/
/* remove margin at the bottom of header */
.navbar {
    margin-bottom: 0;
    padding: 0 20px;
    background: #007aa3;
    border-color: transparent;
}

/*FOOTER*/
/* global-footer logos */
.partners-logo {
    width: auto;
    height: 60px;
    display: inline-block;
    padding: 5px 20px; /* add space between logos */
}
