/*HEADER*/
/* remove margin at the bottom of header */
.navbar {
    margin-bottom: 0;
    padding: 0 20px;
    background: #0099CC;
    border-color: transparent;
}

/*FOOTER*/
/* global-footer logos */
.partners-logo {
    width: auto;
    height: 60px;
    display: inline-block;
    padding: 5px 20px; /* add space between logos */
}

/*stick footer to the bottom */
body {
    margin-bottom: 0;  /* required to override body margin in styles.all.min.css */
}


.fadeinclass {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.8;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 0.8;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 0.8;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 0.8;
    }
}

.floatbox {
    -webkit-box-shadow: 10px 10px 26px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 26px 1px rgba(0,0,0,0.75);
    font-size: 1em;
    opacity: 0.8;
}
