{% load i18n %}{% autoescape off %}
{% blocktrans trimmed %}
  You're receiving this email because you've registered on seabirds.net! We hope that you make use of the various tools on the site.
{% endblocktrans %}

{% trans "Please go to the following link to activate your account:" %}

{{ protocol }}://{{ domain }}{% url 'spirit:user:auth:registration-activation' pk=user_id token=token %}

{% trans "Once the account has been activated you will be able to update your profile after your first login" %}

{% trans "Thanks for signing up to Seabirds.net!" %}

{% trans "--- Remember, seabirds and waterbirds are the only group of animals to have mastered land, sea and air ---" %}

{% endautoescape %}
