{% load spirit_tags i18n %}
{% load static from staticfiles %}


<header class="header js-tabs-container">
  <div class="row headrow">
          <div class="col-md-4 d-none d-lg-block">
            <a class="header-logo" href="/">  <img src="{% static 'img/WSCLogo2.png' %}" height="100px" /> </a>
          </div>
          <div class="col-md-4 d-lg-none d-md-block d-none">
              <a class="header-logo">Seabirds.net</a>

          </div>

    
    <div class="col-lg-5 d-none d-xl-block">
        <img id="eletern" src="{% static 'img/eletern2.png' %}" class="rounded float-right"/>
    </div>


  

  
    <div class="col-xs-12 col-md-6 col-lg-3">


        {% if user.is_authenticated %}
        {% has_topic_notifications user as has_notifications %}

        {% spaceless %}
        <ul class="header-tabs">
            <!--<li>
                <a class="header-tab-link js-tab"
                   href="{% url "spirit:search:search" %}"
                   data-related=".js-search-content">
                    <i class="fa fa-search"></i>
                </a>
            </li>
            <li>
                <a class="header-tab-link js-tab-notification{% if has_notifications %} is-highlighted{% endif %}"
                   href="{% url "spirit:topic:notification:index" %}"
                   data-related=".js-notifications-content">
                    <i class="fa fa-bell"></i>
                </a>
            </li>-->
            <li>
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">{{user.st.nickname}} <i class="fa fa-chevron-down"></i></button>
                    <div id="myDropdown" class="dropdown-content">
                        <a class="menu-link" href="{% url "spirit:user:detail" pk=user.pk slug=user.st.slug %}">{% trans "Profile" %}</a>
                        <a class="menu-link" href="{% url "spirit:topic:index-active" %}">{% trans "Topics" %}</a>
                        <a class="menu-link" href="{% url "spirit:topic:unread:index" %}">{% trans "Unread topics" %}</a>
                        <a class="menu-link" href="{% url "spirit:topic:private:index" %}">{% trans "Private topics" %}</a>
                        {% if user.st.is_administrator %}
                        <a class="menu-link" href="{% url "spirit:admin:index" %}">{% trans "Admin" %}</a>
                        {% endif %}
                        <a class="menu-link js-post"
                           href="{% url "spirit:user:auth:logout" %}?next={% firstof request.get_full_path|urlencode '/' %}">{% trans "Log out" %}</a>
                    </div>
                </div>

                <!--<a class="header-tab-link js-tab"
            href="{% url "spirit:user:menu" %}"
            data-related=".js-user-content">{{ user.st.nickname }}<i class="fa fa-chevron-down"></i></a>-->
            </li>
        </ul>
        {% endspaceless %}

        {% else %}


            <!--start button, nothing above this is necessary -->
            <div class="svg-wrapper">
                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                    <rect id="shape" height="40" width="150" />
                    <div id="text">
                        <a href="{% url "spirit:user:auth:login" %}?next={% firstof request.get_full_path|urlencode '/' %}"><span class="spot"></span>{% trans "Log in" %}</a>
                    </div>
                </svg>
            </div>
        <div class="svg-wrapper">
                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                    <rect id="shape" height="40" width="150" />
                    <div id="text">
                        <a href="{% url "spirit:user:auth:register" %}?next={% firstof request.get_full_path|urlencode '/' %}"><span class="spot"></span>{% trans "Join us" %}</a>
                    </div>
                </svg>
            </div>



  {% endif %}
    </div>

</div>
    <!--<div class="row" style="background-color:lightyellow; padding-top:2px;padding-bottom:2px">
        <div class="col-sm-12">
            <h3 style="text-align:center;font-size:13pt">Seabirds.net v2.0 Beta. Content still being updated, contact: wsuadmin@seabirds.net with bug reports</h3>
        </div>        
    </div>-->

    <script>



    var $button = document.querySelector('.button');
    $button.addEventListener('click', function () {
        var duration = 0.3,
            delay = 0.08;
        TweenMax.to($button, duration, { scaleY: 1.6, ease: Expo.easeOut });
        TweenMax.to($button, duration, { scaleX: 1.2, scaleY: 1, ease: Back.easeOut, easeParams: [3], delay: delay });
        TweenMax.to($button, duration * 1.25, { scaleX: 1, scaleY: 1, ease: Back.easeOut, easeParams: [6], delay: delay * 3 });
    });

    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

</header>
